.trianguloarriba {
  width: 1300px;
  height: 650px;
  background-color: #29be96;
  -webkit-clip-path: polygon(73% 0, 0 84%, 0 0);
  clip-path: polygon(73% 0, 0 84%, 0 0);
}

.trianguloabajo {
  width: 1170px;
  height: 1000px;
  position: absolute;
  right: 0;
  bottom: -0%;
  background-color: #6700ff;
  -webkit-clip-path: polygon(100% 15%, 20% 100%, 100% 100%);
  clip-path: polygon(100% 15%, 20% 100%, 100% 100%);
}
